<%= form_for(@participant) do |f| %>
  <% @participant.errors.full_messages.each do |message| %>
    <div style="background-color: red; color: white;"><%= message %></div>
  <% end %>
  <%= f.label :first_name, "First Name: " %>
  <%= f.text_field :first_name, placeholder: "First Name..." %>
  <%= f.label :last_name, "Last Name: " %>
  <%= f.text_field :last_name, placeholder: "Last Name..." %>
  <%= f.label :gender, "Gender: " %>
  <%= f.select :gender, options_for_select({ "Male" => "M", "Female" => "F"}, @participant.gender), include_blank: true %>
  <%= link_to_add_association 'Add category', f, :participant_categories, :"data-association-insertion-node" => '#participant_categories' %>
  <div id="participant_categories">
    <%= f.fields_for :participant_categories do |t_c| %>
      <%= render 'participant_category_fields', f: t_c %> <br>
    <% end %>
  </div>
  <%= f.submit %>
<% end %>