<h4>Participants</h4>
<%= link_to "New Participant", new_participant_path, class: "btn btn-success" %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Gender</th>
      <th>Categories</th>
      <th colspan="2">Options</th>
    </tr>
  </thead>
  <tbody>
    <% @participants.each do |participant| %>
    <tr>
      <td><%= participant.first_name %> <%= participant.last_name %></td>
      <td><%= participant.gender %></td>
      <td><%= participant.categories.map(&:name).split(" ").join(", ") %></td>
      <td><%= link_to "Edit participant", edit_participant_path(participant), class: "btn btn-info btn-xs" %> <%= link_to "Delete participant", participant , method: :delete, data: { confirm: "Are you sure? "}, class: "btn btn-danger btn-xs" %></td>
    </tr>
    <% end %>
  </tbody>
</table>