<h3>Participants</h3>
<%= link_to "New Participant", new_participant_path %>
<% @participants.each do |participant| %>
  <div style="border: 1px solid black; width: 25%;">
    <h4><%= participant.first_name %> <%= participant.last_name %></h4>
    <p><%= participant.gender %></p>
    <p><%= participant.categories.map(&:name) %></p>
    <%= link_to "Edit participant", edit_participant_path(participant) %>
    <%= link_to "Delete participant", participant , method: :delete, data: { confirm: "Are you sure? "} %>
  </div>
<% end %>