<div class="nested-fields">
  <%= f.label :category_id, "Category: " %> 
  <%= f.select :category_id, Category.all.collect { |category| [ category.name, category.id ] }, { include_blank: "Select a category...", required: true},  class: "form-control" %><br>
  <%= f.label :participants_per_group, "Participants Per Group: " %>
  <%= f.number_field :participants_per_group, max: 9, class: "form-control" %>
  <%= link_to_remove_association "remove", f, class: "btn btn-danger btn-xs" %>
</div>