<h4>Tournaments</h4>
<%= link_to "New Tournament", new_tournament_path, class: "btn btn-success" if can? :new, @tournament %>

<div class="row">
  <div class="col-xs-6">
    <% @tournaments.each do |tournament| %>
      <div class="panel panel-default w-25">
        <div class="panel-heading"><h3><%= tournament.name %></h3></div>
        <div class="panel-body">
          <h5>Place: <%= tournament.place %></h5>
          <h6>Categories: <%= tournament.categories.map(&:name).split(" ").join(", ") %></h6>
        </div>
        <div class="panel-footer">
          <h6>Date: <%= tournament.initial_date %> / <%= tournament.finish_date %></h6>
          <%= link_to "View Tournament", tournament, class: "btn btn-info btn-xs" %>
        </div>
      </div>
    <% end %>    
  </div>
</div>
