<h2><%= @tournament.name %></h2>
<%= link_to "Edit", edit_tournament_path, class: "btn btn-success btn-xs" %>
<%= link_to "Draw", new_tournament_group_path(@tournament), class: "btn btn-success btn-xs" %>
<div class="row">
  <% @tournament.groups.group_by { |t| t.category_ids }.each do |category, groups| %>
    <div class="col-xs-4">
      <h4>Category: <%= category %></h4>
      <% groups.each do |group| %>
       <small>phase: <%= group.phase %></small>
        <div class="panel panel-default w-25">
          <div class="panel-heading"><%= group.name %></div>
          <div class="panel-body">
            <ul class="list-group">
              <% group.participants.each do |participant| %>
                <li class="list-group-item"><%= participant.first_name %> <%= participant.last_name %></li>
              <% end %>
            </ul>
          </div>
          <div class="panel-footer">
            <%= link_to "Qualify", {}, class: "btn btn-success btn-xs" %>            
          </div>
        </div>
      <% end %>
    </div>  
  <% end %>
</div>