<!DOCTYPE html>
<html>
  <head>
    <title>SurfLeague</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div>
      <nav>
        <li style="display: inline-block;"><%= link_to "Tournaments", root_path %></li>
        <li style="display: inline-block;"><%= link_to "Participants", participants_path %></li>
      </nav>
    </div>
    <%= yield %>
  </body>
</html>
